<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include ('blocks/header') -%>
    <h1>Привет Мир!</h1>
    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus nemo nihil iste quasi delectus iusto, repellendus vel consectetur? Doloremque ullam voluptatem quam dignissimos enim ex sequi, eius hic nihil unde.</div>
</body>
</html>